<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NodeJS</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    {{>_navbar}}
    <div class="container mt-4" style="min-height: calc(100vh - 143px)">

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        {{>_msg}}
        {{{body}}}
    </div>
    {{>_footer}}
</body>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/popper.min.js"></script>

</html>