<div class="col-md-6 offset-md-3" style="margin-top: 100px;">
    <h2 class="text-center">LOGIN</h2>
    <form action="/usuario/login" method="post">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" required>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" class="form-control" required>
        <button type="submit" class="btn btn-primary form-control mt-3">Entrar</button>
    </form>
</div>